*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

nav, 
.nav-links li {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links li {
    flex-direction: column;
    list-style: none;
    font-size: 1.5rem;
}

a{
    color: rgb(35, 128, 248);
    text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: underline;
    text-decoration-color:rgb(241, 88, 255) ;
}

.name{
    font-size: 2rem;
}

.name:hover{
    cursor: default;
}