*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
body{
    font-family: "Russo One", sans-serif;
    background-color: rgb(35, 35, 35);
}

nav, 
.nav-links ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    gap: .5rem 3rem;
}


nav {

}

.nav-links ul {
    list-style: none;
    font-size: 35px;
}

a{
    color: rgb(35, 128, 248);
    text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: wavy underline rgb(255, 154, 171);
    text-underline-offset: 1rem;
    text-shadow: 0px 4px 16px white;
    
}

.name{
    font-size: 70px;
    color: #232323;
    text-shadow: 0px 2px 8px white;
    padding-top: 10px;
}

.name,
.about-section h2,
.experience-section h2,
.projects-section h2,
.contact-section h2,
footer:hover{
    cursor: default;
}

.section-profile{
    display: flex;
    padding-top: 80px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}


            /*IMG*/

@media only screen and (max-width: 480px) {
    img {
      width: 100%;
    }
  }
  
img{
    box-shadow: 1px 1px 20px 10px rgb(161 156 156 / 40%);
    border: 0.5px solid #000000;
    border-radius: 50%;
    width: 400px;
    margin: 35px;
}

.title-text{
        /* position: relative; */
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    /* padding-top: 20px; */
    /* padding-left: 40px; */
    text-shadow: 0px 1px 4px;
}

.hi-title{
    font-size: 90px;
    color: #0cd0f4;
}

.title{
    font-size: 180px;
    color: white;
}
.sub-title{
    font-size: 60px;
    color: #fe65ce;
}

        


                /*Sections*/
.about-section,
.experience-section,
.projects-section,
.contact-section{
    border-radius: 10px;
    /* border: 13px solid #232323; */
    margin: 10px;
}



.about-section h2,
.experience-section h2,
.projects-section h2,
.contact-section h2{
    color: #232323;
    font-size: 50px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 9px;
}

/* .about-section h2,
.experience-section h2,
.projects-section h2,
.contact-section h2:hover{
    cursor: default;
} */

.about-section{
    background-color: white;
    height: 200px;
}

.experience-section{
    background-color: lightgray;
    height: 200px;
}

.projects-section{
    background-color: white;
    height: 200px;
}

.contact-section{
    background-color: lightgray;
    height: 200px;
}

.contact-section ul{
    list-style: none;
    font-size: 20px;
    padding-top: 15px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

footer{
    height: 200px;
    font-size: 30px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}