*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
body{
    background-color: rgb(63, 63, 63);
}

nav, 
.nav-links ul {
    display: flex;
    justify-content: space-around;
}


nav {
    align-items: center;
    height: 17vh;
}

.nav-links ul {
    gap: 20px;
    list-style: none;
    font-size: 1.5rem;
}

a{
    color: rgb(35, 128, 248);
    text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: underline;
    text-decoration-color:rgb(241, 88, 255) ;
}

.name{
    font-size: 2rem;
}

.name:hover{
    cursor: default;
}

.section-profile{
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.profile-pic {
    
    
}
img{
    box-shadow: 0 0 12px 12px  rgb(35, 128, 248, .4);
    border: 1px solid blue;
    width: 330px;
    height: 325px;
    border-radius: 50%;
}

.title-text{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    padding-left: 40px;
    text-shadow: 0px 0px 17px;
}

.title{
    position: absolute;
    font-size: 85px;
    color: white;
    top: 100px;
    right: 180px;
}
.sub-title{
    position: relative;
    font-size: 40px;
    font-weight: 900;
    color: #fe65ce;
    top: 30px;
}
.hi-title{
    position: absolute;
    font-size: 70px;
    top: 40px;
    color: #0cd0f4;
}